.search-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.search-input {
  padding: 8px 15px;
  font-size: 15px;
  width: 550px;
  height: 50px;
  border-width: 0;
  background: #ddf292;
  color: #130749;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
.search-input::placeholder {
  color: #130749;
  font-size: large;
  font-weight: 500;
}
.search-input:focus {
  outline: none;
}
