body {
  background-image: url("https://img.freepik.com/free-photo/cyborg-hand-3d-background-technology-artificial-intelligence_53876-129787.jpg?size=1350&ext=jpg&ga=GA1.2.255296846.1652138107");
  overflow-x: hidden;
  font-family: "lato", sans-serif;
}
