body {
  background-image: url("https://img.freepik.com/free-photo/top-view-geometrical-forms-with-copy-space_23-2148830246.jpg?t=st=1655340300~exp=1655340900~hmac=4eca1744a9427cb58b0b50c31fcb7203cfeaa88d6ea45adf2fa5db6a8113cf2f&w=1360");
  overflow-x: hidden;
  font-family: "lato", sans-serif;
}
